<%= form_with(model: meal_plan, local: true) do |form| %>
  <% if local_assigns[:proposal] %>
    <%= hidden_field_tag(:proposal, value: true) %>
  <% end %>
  
  <% if meal_plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(meal_plan.errors.count, "error") %> prohibited this meal plan from being saved:</h2>

      <ul>
        <% meal_plan.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field mb-6">
    <%= form.label :number_of_meals, class: 'block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2' %>
    <%= form.number_field :number_of_meals, class: 'appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500' %>
  </div>

  <div class="actions">
    <%= form.submit "Create meal plan", class: 'Button'  %>
  </div>
<% end %>
