<div class="mt-8 mb-8">
  <h1 class="PageHeadline">Meal Plan (<%= @meal_plan.recipes.count %> Meals)</h1>
  <small>Created at <%= @meal_plan.created_at.strftime("%d %b, %Y at %H:%M") %></small>
</div>
<div class="flex flex-wrap">
  <% @meal_plan.recipes.each do |recipe| %>
    <div class="Card mb-8 md:flex-1 mr-4 w-full">
      <h2 class="CardHeadline mb-4"><%= recipe.name %></h2>
      <% if recipe.description.present? %>
        <p class="mb-4"><%= recipe.description %></p>
      <% end %>
      <% if @meal_plan.recipes_changable %>
        <%= link_to 'Swap out recipe', meal_plan_swap_recipe_path(@meal_plan.id, recipe_id: recipe.id), method: :post, class: 'SecondaryButton' %>
      <% end %>
    </div>
  <% end %>
</div>

<% if !@meal_plan.recipes_changable && !@meal_plan.enough_recipes? %>
  <div class="text-center">
    <p>Recipes are not changable since you do not have enought recipes in your database</p>
    <%= link_to 'Add more', new_recipe_path, class: 'TextButton mt-2 inline-block' %>
  </div>
<% end %>

<% if @meal_plan.recipes_changable %>
  <%= link_to 'Commit', meal_plan_with_shopping_list_path(@meal_plan.id), method: :post, class: 'SecondaryButton' %>
<% end %>

<% if @meal_plan.shopping_list %>
  <div class="mt-8" data-controller="shopping-list-item">
    <h2 class="SecondaryHeadline ">Shopping List</h2>
    <table class="table-auto">
      <thead>
        <tr>
          <th class="px-4 py-2">Checked off?</th>
          <th class="px-4 py-2">Item</th>
          <th class="px-4 py-2">Amount</th>
        </tr>
      </thead>
      <tbody data-target="shopping-list-item.itemList">
        <% @shopping_list_ingredients.each do |ingredient| %>
          <tr class="bg-white even:bg-gray-300" data-action="click->shopping-list-item#toggle" data-id="<%= ingredient.id %>">
            <td class="border px-4 py2">
              <input style="pointer-events: none" <%= ingredient.checked_off? ? 'checked' : nil %> type="checkbox"   />
            </td>
            <td class="border px-4 py2">
              <%= ingredient.ingredient_name %> 
            </td>
            <td class="border px-4 py2">
              <% ingredient.amount.map do |amount| %>
                <%= amount %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>


