<%= form_with(model: recipe, local: true) do |form| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% recipe.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field mb-6">
    <%= form.label :name, class: 'block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2' %>
    <%= form.text_field :name, class: 'appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500' %>
  </div>

  <div class="field mb-6">
    <%= form.label :description, class: 'block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2' %>
    <%= form.text_area :description, class: 'appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500' %>
  </div>

  <div class="field mb-6">
    <%= form.fields_for :recipe_ingredients do |ingredients_form| %>
      <%= ingredients_form.fields_for :ingredient do |ingredient_form| %>
        <div class="field mb-6">
          <%= ingredient_form.label :name %>
          <%= ingredient_form.text_field :name %>
        </div>
        <div class="field mb-6">
          <%= ingredients_form.label :amount %>
          <%= ingredients_form.text_field :amount %>
        </div>
        <div class="field mb-6">
          <%= ingredient_form.label :unit %>
          <%= ingredient_form.text_field :unit %>
        </div>
      <% end %>
    <% end %>
  </div>



  <div class="actions">
    <%= form.submit "Create recipe", class: 'bg-teal-500 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded'  %>
  </div>
<% end %>
