<%= form_with(model: recipe, local: true) do |form| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% recipe.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field mb-6">
    <%= form.label :name, class: 'block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2' %>
    <%= form.text_field :name, class: 'appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500' %>
  </div>

  <div class="field mb-6">
    <%= form.label :description, class: 'block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2' %>
    <%= form.text_area :description, class: 'appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500' %>
  </div>
  <h3 class="font-bold mb-3 text-gray-700">Ingredients</h3>
  <div class="field mb-6" data-controller="recipe-rows saved-recipe-row">
    <div data-target="recipe-rows.container">
      <%= form.fields_for :recipe_ingredients do |ingredients_form| %>
        <%= ingredients_form.fields_for :ingredient do |ingredient_form| %>
          <div class=" flex flex-row" data-target="recipe-rows.row">
            <div class="field mb-6 mr-3">
              <%= ingredient_form.label :name, class: 'block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2' %>
              <%= ingredient_form.text_field :name, class: 'appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500' %>
            </div>
            <div class="field mb-6 mr-3">
              <%= ingredients_form.label :amount, class: 'block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2' %>
              <%= ingredients_form.text_field :amount, class: 'appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500' %>
            </div>
            <div class="field mb-6">
              <%= ingredients_form.label :unit, class: 'block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2' %>
              <%= ingredients_form.select :unit, options_for_select(RecipeIngredient::ALLOWED_UNITS), {}, { class: "appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" } %>
            </div>
            <%= ingredients_form.hidden_field :_destroy, data: { target: 'saved-recipe-row.destroy-toggle' } %>
            <div data-action="click->saved-recipe-row#markForDelete">Remove</div>
          </div>
        <% end %>
      <% end %>
    </div>
    <a href="#" data-action="recipe-rows#addRow" class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded">+ Add row</a>
  </div>

  <div class="actions mt-12">
    <%= form.submit "Create recipe", class: 'bg-teal-500 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded block w-full md:inline-block md:w-auto'  %>
  </div>
<% end %>
