<section>
  <h1>Never think about what to cook today again</h1>
  <span>Snacken helps you find meals and writes shopping lists with what you need to buy for them</span>
  <%= image_tag "cooking-board.jpeg" %>
</section>

<section>
  <h3>Interested? Leave us your email to get an invite code</h2>
  <span>We’ll notify you once a new batch of codes is sent out</span>
  <input type="email" placeholder="example@mail.com" />
  <button>Invite me</button>
</section>

<section>
  <h2>How it works</h2>
  <%= image_tag "landing-page.png" %>
  <%= image_tag "landing-page.png" %>
  <%= image_tag "landing-page.png" %>
  <div>
    <div>
      <h3>1. Save your favourite recipes</h3>
      <span>Just the essentials: The name an the ingredients, no detailed steps
  on preperation needed.</span>
    </div> 
    <div>
      <h3>2. Let Snacken create a meal plan for you</h3>
      <span>Just tell us how many meals you want to go shopping for. We will generate
  a plan for you, you switch out the ones you don’t like.</span>
    </div> 
    <div>
      <h3>3. Buy what you need with the generated shopping list</h3>
      <span>Snacken will create a shopping list for you with all the things you need to buy.
  Use it on the website or export it to your favourite ToDo-App.</span>
    </div> 
  </div>
</section>

<footer>
  <%= link_to "Privacy Policy", "#" %>
  <%= link_to "Imprint", "#" %>
</footer>