<div class="block navigation mt-4">
  <% if current_user %>
    <%= link_to "Recipes", recipes_path, class: 'md:inline block navigation__item' %>
    <%= link_to "Create Meal Plan", new_meal_plan_path, class: 'md:inline block navigation__item' %>
    <%= link_to "Meal Plans", meal_plans_path, class: 'md:inline block navigation__item' %>
    <%= link_to "Logout", :logout, method: :post, class: 'md:inline block  navigation__item' %>
  <% else %>
    <%= link_to "Register", new_user_path, class: 'md:inline block navigation__item' %>
    <%= link_to "Login", login_path, class: 'md:inline inline-block navigation__item navigation__item--highlight' %>
  <% end %>
</div>
