<!DOCTYPE html>
<html>
  <head>
    <title>Dnnr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap" rel="stylesheet">
  </head>

  <body class="bg-gray-100">
    <nav class="shadow-md p-6 flex justify-between bg-white">
      <div>
        <%= link_to 'dnnr', root_path, class: 'font-extrabold' %>
      </div>
      <div>
        <% if current_user %>
          <%= link_to "Profile", profile_path, class: 'text-teal-600 mr-2' %>
          <%= link_to "Logout", :logout, method: :post, class: 'text-teal-600 mr-2' %>
          <%= link_to "Recipes", recipes_path, class: 'text-teal-600 mr-2' %>
          <%= link_to "Create Meal Plan", new_meal_plan_path, class: 'text-teal-600 mr-2' %>
          <%= link_to "Meal Plans", meal_plans_path, class: 'text-teal-600 mr-2' %>
        <% else %>
          <%= link_to "Register", new_user_path, class: 'text-teal-600 mr-2' %>
          <%= link_to "Login", :login, class: 'text-teal-600' %>
        <% end %>
      </div>
    </nav>
    <div>
      <p id="notice"><%= flash[:notice] %></p>
      <p id="alert"><%= flash[:alert] %></p>
    </div>
    <div class="container mx-auto">
      <%= yield %>
    </div>
  </body>
</html>
